{% extends 'index.html' %}

{% block content %}
<div>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Log into your account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
               {{form.as_p}}
               <button>Login</button>
           </form>
        </div>
        <div class="modal-footer">
            <p>Don't have an account yet ? <a href='/register/'>Register Here</a></p>
        </div>
      </div>
    </div>
  </div>
    


{% endblock %}